<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="tweakwise_attributelanding" frontName="tweakwise_attributelanding">
            <module name="Tweakwise_AttributeLanding" />
        </route>
    </router>
</config>
